name: Hello World Pipeline

on:
  push:
    branches:
      - test

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print Hello World
        run: echo "Hello World from GitHub Actions!"
