name: Hello World Pipeline

on:
  push:
    branches:
      - test

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
    
      - name: Print Hello World
        run: echo "Hello World from GitHub Actions!"
